{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aroma Shop - Cart</title>
    <link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png" />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/bootstrap/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/fontawesome/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/themify-icons/themify-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendors2/linericon/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/owl-carousel/owl.theme.default.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/owl-carousel/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/nice-select/nice-select.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors2/nouislider/nouislider.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'css2/style.css' %}" />
  </head>
  <body>
    <!--================ Start Header Menu Area =================-->
   {% include "partials/topnav2.html" %}
    <!--================ End Header Menu Area =================-->

    <!-- ================ start banner area ================= -->
    
    <!-- ================ end banner area ================= -->

    <!--================Cart Area =================-->
    <section class="cart_area mt-4 p-0">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            {% if cart.count > 0 %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <td></th>
                </tr>
              </thead>
              <tbody>
                <script>
                  document.getElementById("cart_count").innerHTML={{cart.count}};
                </script>
                {% for item in cart  %}
                
                <tr>
                  <td>
                    <div class="media">
                        <div class="d-flex">
                            <img width="50" src="{{item.product.image.url}}" alt="">
                        </div>
                        <div class="media-body">
                            <p>{{item.product.name}}</p>
                        </div>
                    </div>
                </td>
                 
                  <td>
                    <h5> ₹{{item.price}}</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        type="text"
                        name="qty"
                        id="sst{{item.id}}"
                        maxlength="12"
                        value="{{item.qty}}"
                        title="Quantity:"
                        class="input-text qty"
                      />
                      <button
                        onclick="var result = document.getElementById('sst'+{{item.id}}); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                        class="increase items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                      <button
                        onclick="var result = document.getElementById('sst'+{{item.id}}); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--;return false;"
                        class="reduced items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-down"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <h5>₹{{item.total}}</h5>
                   
                  </td>
                  <td>
                    
                    <i onclick="window.location.href='/cart_delete/{{item.id}}'" class="ti-trash" style="font-size:1.5rem;cursor:pointer;" />
                  </td>
                </tr>
                {% endfor %}
                <tr>
                
              <td colspan="3">
                      <h5>Subtotal</h5>
                  </td>
                  <td>
                    
                      <h5>₹{{sub}}</h5>
                    
                  </td>
                  <td>
                    <form method="post" action="/checkout/">
                      {% csrf_token %}
                      <input type="text" name="Subtotal" value="{{sub}}"/>
                    <button class="btn btn-primary">Checkout</button>
                    <form/>
                </td>
              </tr>
              
             
              
             
             
               
              </tbody>
            </table>
            {% else %}
            <h1 class="text-center text-warning">Cart Empty<h1>
            {% endif %}  

             
           
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->

    <!--================ Start footer Area  =================-->
    
    <!--================ End footer Area  =================-->

    <script src="{% static 'vendors2/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendors2/bootstrap/bootstrap.bundle.min.js' %}"></script>
   
    <script src="{% static 'vendors2/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors2/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors2/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors2/mail-script.js' %}"></script>
    <script src="{% static 'js2/main.js' %}"></script>
    
  </body>
</html>
